<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hust.docker.Mapper.CategoryMapper">

    <resultMap id="CategoryMap" type="com.hust.docker.entity.DockerCategory">
        <id property="id" column="id" javaType="java.lang.Integer" jdbcType="INTEGER"/>
        <id property="num" column="num" javaType="java.lang.Integer" jdbcType="INTEGER"/>
        <result property="name" column="name" javaType="java.lang.String" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="selectAll"  resultMap="CategoryMap">
        select * from category
    </select>
    <select id="selectById" resultType="com.hust.docker.entity.DockerCategory">
        select * from category where id = #{id}
    </select>
</mapper>