<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hust.docker.Mapper.ResourceMapper">

    <resultMap id="ResourceMap" type="com.hust.docker.entity.DockerResource">
        <id property="id" column="id" javaType="java.lang.Integer" jdbcType="INTEGER"/>
        <result property="intro" column="intro" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result property="title" column="title" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result property="link" column="link" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result property="img" column="img" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result property="type" column="type" javaType="java.lang.Integer" jdbcType="INTEGER"/>
        <result property="author" column="author" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result property="views" column="views" javaType="java.lang.Integer" jdbcType="INTEGER"/>
        <result property="citednum" column="citednum" javaType="java.lang.Integer" jdbcType="INTEGER"/>
        <result property="time" column="time" javaType="java.lang.Integer" jdbcType="INTEGER"/>
        <result property="conference" column="conference" javaType="java.lang.String" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="selectAll"  resultMap="ResourceMap">
        select * from resources order by citednum desc
    </select>

    <select id="selectCnAll"  resultMap="ResourceMap">
        select * from resources_cn order by citednum desc
    </select>
    <select id="selectCnByType" resultType="com.hust.docker.entity.DockerResource">
        select * from resources_cn where type = #{type} order by citednum desc
    </select>
    <select id="selectCnByTime" resultType="com.hust.docker.entity.DockerResource">
        select * from resources_cn where time = #{time} order by citednum desc
    </select>
    <select id="selectCnByConference" resultType="com.hust.docker.entity.DockerResource">
        select * from resources_cn where conference = #{conference} order by citednum desc
    </select>
    <select id="selectById" resultType="com.hust.docker.entity.DockerResource">
        select * from resources where id = #{id} order by citednum desc
    </select>
    <select id="selectByType" resultType="com.hust.docker.entity.DockerResource">
        select * from resources where type = #{type} order by citednum desc
    </select>
    <select id="selectByTime" resultType="com.hust.docker.entity.DockerResource">
        select * from resources where time = #{time} order by citednum desc
    </select>
    <select id="selectByConference" resultType="com.hust.docker.entity.DockerResource">
        select * from resources where conference = #{conference} order by citednum desc
    </select>
    <update id="addViews">
        update resources set views = views+1 where link like "%"#{index}"%";
        update resources_cn set views = views+1 where link like "%"#{index}"%";
    </update>
    <select id="search" resultType="com.hust.docker.entity.DockerResource">
        select * from resources where title like "%"#{index}"%" or intro like "%"#{index}"%"
    </select>
    <select id="searchCn" resultType="com.hust.docker.entity.DockerResource">
        select * from resources_cn where title like "%"#{index}"%" or intro like "%"#{index}"%"
    </select>
</mapper>